<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Page</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css')}}">

</head>

<body>
  <h1 class="index">FACE RECOGNITION USING SIAMESE NETWORK</h1>

  <div class="btnstl">

    <table>

      <tr>

        <td>
          <a href=register><button class="dsbtn">REGISTER USER FACE</button></a>&emsp;
        </td>

        <td>
          &emsp;&emsp;<a href=recognition><button class="dsbtn">RECOGNIZE USER FACE</button></a>
        </td>

      </tr>

    </table>

  </div>

</body>

</html>
