<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Real Time Recognition</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css')}}">

</head>

<body>

  <div>

    <h1 class="webcam">FACE RECOGNITION FOR REAL TIME STREAM</h1>

    <img src="{{ url_for('webcam') }}", alt="Real Time Stream" class="webcamimg">

  </div>

  <br />

  <center>

    <a href=upload><button class="webbtn">RECOGNIZE STATIC IMAGE</button></a>&emsp;&emsp;&emsp;&emsp;

    <a href=register><button class="webbtn">REGISTER USER FACE</button></a>

  </center>

</body>
</html>
