<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css')}}">

</head>

<body>

  <h1 class="index">REGISTER USER FACE INTO THE DATABASE</h1>

  <div class="btnstl">

    <table>

      <tr>

        <td>
          <a href=uploadImageData><button class="dsbtn">UPLOAD IMAGE FOR FACE DETECTION</button></a>
        </td>

        <td>
          <a href=webcamVideoData><button class="dsbtn">REAL - TIME USER FACE DETECTION</button></a>
        </td>

      </tr>

    </table>

  </div>

</body>

</html>
